.fixed-right {
  position: fixed;
  right: 5%; /* Ajusta la posición horizontal según tus necesidades */
  top: 50%; /* Lo coloca en el centro vertical de la pantalla */
  transform: translateY(-50%);
  text-align: center; /* Centra los botones */
  padding: 10px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 5px;
}

h6 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.form{
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% - 32px);
  margin: 20px auto; /* Establece el margen superior e inferior a 20px y los laterales automáticos para centrar horizontalmente */
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question-container {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 90%; /* Puedes ajustar el ancho según tus preferencias */
  margin: 0 auto; /* Establece márgenes automáticos para centrar horizontalmente */
}

.input-group {
  margin-bottom: 10px;
}

.input-group input[type="text"], .input-group input[type="number"] {
  width: calc(100% - 32px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.option-input-group input[type="text"] {
  width: calc(80% - 32px);
  margin-right: 10px;
}

.btn-remove-option {
  margin-top: 10px;
}

.btn-add-option {
  margin-top: 10px;
}


/* input pregunta */
.custom-input {
  margin-top: 1%;
  width: calc(85% - 32px);
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin-left: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* tipo dato texto y numero */
.custom-data-input {
  margin-top: 1%;
  width: calc(75% - 32px);
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 5px;
}

/* opcion multiple */

.custom-option-container {
  align-items: center;
  margin-bottom: 10px;
  text-align: center;
}

.custom-option-input {
  width: calc(100%);  
  margin-top: 2%;
  margin-bottom: 2%;
  flex: 1;
  margin-right: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

/* tabla */
.custom-table-input::placeholder {
  text-align: center;
}

.table-container {
  overflow-x: auto;
  max-width: 100%; /* Ajusta según tus necesidades */
}

.custom-input-table {
  margin-top: 1%;
  width: calc(85% - 32px);
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}


.custom-input-table-option {
  margin-top: 1%;
  width: calc(100% - 5px);
  display: inline-block;
  vertical-align: middle;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}
