/* Agrega estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

h1{
    font-size: 2em;
    font-weight: bold;
    margin: 20px;

  }
  
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para las tarjetas de los formularios */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 230px;
    margin: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    margin: 10px;
}

.card-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.card-content h3 {
    font-size: 1.2em;
    font-weight: bold;
    justify-content: center;
}

.card-content button {
    width: 60%;
    padding: 5px;
}

/* Estilos para la página de respuestas */
.response-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.containerSF {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form-container {
    text-align: center;
  }
  
  .respuestas-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .respuesta-item {
    margin: 8px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }