.containerSF{
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.form-container {
  max-width: 800px;
  padding: 2%;
  width: 75%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Título de formulario */
.form-title {
  font-size: 2em;
  color: #333;
}

/* Descripción del formulario */
.form-description {
  font-size: 1.2em;
  color: #555;
}

/* Enlace del formulario */
.form-link {
  color: #007bff;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

/* Estilo para el input de texto */
.text-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilo para el input de número */
.number-input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilo para el select (combo box) */
.combo-box {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Valor de ejemplo */
.example-value {
  color: #888;
}

/* Botón de envío de respuestas */
.submit-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2em;
}

/* Estilos para la sección de selección de formularios */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 230px;
  margin: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 90%;
  height: 90%;
  object-fit: cover;
  margin: 10px;
}

.card-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.card-content h3 {
  font-size: 1.2em;
  font-weight: bold;
  justify-content: center;
}

.card-content button {
  width: 60%;
  padding: 5px;
}

/* Estilos generales del cuerpo de la página */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
}