.page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150%;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% - 32px);
  margin: 20px auto; /* Establece el margen superior e inferior a 20px y los laterales automáticos para centrar horizontalmente */
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Listas */
ul {
  list-style: square;
  padding: 0;
}

li {
  margin-bottom: 10px;
  color: #333; 
  list-style-position: outside; 
}
