.home-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #333; /* Color del texto */
}

h2 {
  color: #555;
}

ul {
  list-style: square;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

h3 {
  color: #777;
}
